In [2]:
# Import pandas, numpy, and matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# seaborn is a data visualization library built on matplotlib
import seaborn as sns
# set the plotting style
sns.set_style("whitegrid")

# Model preprocessing
from sklearn.preprocessing import StandardScaler

# Modeling
import statsmodels.formula.api as smf
import statsmodels.api as sm

# Model metrics and analysis
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from statsmodels.stats.anova import anova_lm

In [9]:
ccd_data = pd.read_csv(
    'https://raw.githubusercontent.com/brisamh/education/refs/heads/main/data/CCD_elsi_table_generator_data.csv',
    encoding='utf-8-sig',  # handles special characters and BOM
    dtype={'School ID (12-digit) - NCES Assigned [Public School] Latest available year': str,'School ID (7-digit) – NCES Assigned [Public School] 2016-17':str}
)

In [10]:
ccd_data.head()

,School Name,State Name [Public School] Latest available year,Pupil/Teacher Ratio [Public School] 2016-17,Full-Time Equivalent (FTE) Teachers [Public School] 2016-17,Grade 11 Students - male [Public School] 2016-17,Magnet School [Public School] 2016-17,Shared Time School [Public School] 2016-17,Locale [Public School] 2016-17,Title I Eligible School [Public School] 2016-17,Title I School Status [Public School] 2016-17,School-wide Title I [Public School] 2016-17,Grade 11 Students - female [Public School] 2016-17,School ID (7-digit) – NCES Assigned [Public School] 2016-17,School ID (12-digit) - NCES Assigned [Public School] Latest available year,Agency Name [Public School] 2016-17
0,1 LT CHARLES W. WHITCOMB SCHOOL,Massachusetts,11.22,114.49,NaN,2-No,2-No,21-Suburb: Large,1-Yes,5-Title I schoolwide school,1-Yes,NaN,2502639,2.50732E+11,Marlborough
1,100 ACADEMY OF ENGINEERING AND TECHNOLOGY ES,Nevada,21.28,18,NaN,2-No,2-No,11-City: Large,1-Yes,5-Title I schoolwide school,1-Yes,NaN,3200670,3.20006E+11,CLARK COUNTY SCHOOL DISTRICT
2,100 ACADEMY OF ENGINEERING AND TECHNOLOGY MS,Nevada,39.33,3,NaN,2-No,2-No,21-Suburb: Large,1-Yes,5-Title I schoolwide school,1-Yes,NaN,3200756,3.20006E+11,CLARK COUNTY SCHOOL DISTRICT
3,10TH STREET SCHOOL,Washington,24.79,7.3,NaN,–,–,22-Suburb: Mid-size,2-No,6-Not a Title I school,NaN,NaN,5302475,5.30486E+11,Marysville School District
4,112 ALC INDEPENDENT STUDY,Minnesota,NaN,0,0,2-No,1-Yes,21-Suburb: Large,NaN,NaN,NaN,0,2704415,2.70819E+11,EASTERN CARVER COUNTY PUBLIC SCHOOL

In [11]:
ccd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99860 entries, 0 to 99859
Data columns (total 15 columns):
 #   Column                                                                      Non-Null Count  Dtype
---  ------                                                                      --------------  -----
 0   School Name                                                                 99857 non-null  object
 1   State Name [Public School] Latest available year                            99853 non-null  object
 2   Pupil/Teacher Ratio [Public School] 2016-17                                 94762 non-null  object
 3   Full-Time Equivalent (FTE) Teachers [Public School] 2016-17                 98342 non-null  object
 4   Grade 11 Students - male [Public School] 2016-17                            32794 non-null  object
 5   Magnet School [Public School] 2016-17                                       87605 non-null  object
 6   Shared Time School [Public School] 2016-17                                  98342 non-null  object
 7   Locale [Public School] 2016-17                                              99156 non-null  object
 8   Title I Eligible School [Public School] 2016-17                             95289 non-null  object
 9   Title I School Status [Public School] 2016-17                               95289 non-null  object
 10  School-wide Title I [Public School] 2016-17                                 70344 non-null  object
 11  Grade 11 Students - female [Public School] 2016-17                          32794 non-null  object
 12  School ID (7-digit) – NCES Assigned [Public School] 2016-17                 99165 non-null  object
 13  School ID (12-digit) - NCES Assigned [Public School] Latest available year  99853 non-null  object
 14  Agency Name [Public School] 2016-17                                         99165 non-null  object
dtypes: object(15)
memory usage: 11.4+ MB

In [15]:

ccd_data['School ID (12-digit) - NCES Assigned [Public School] Latest available year'].iloc[0]

'2.50732E+11'